@import "tailwindcss";

@theme {
  --color-mt-bg:      #080808;
  --color-mt-surface: #111111;
  --color-mt-card:    #161616;
  --color-mt-border:  #222222;
  --color-mt-border2: #2a2a2a;
  --color-mt-green:   #FFF8F0;
  --color-mt-gdim:    #A0D585;
  --color-mt-white:   #f4f4f4;
  --color-mt-muted:   #555555;
  --color-mt-muted2:  #333333;
  --color-mt-danger:  #ef4444;

  --font-poppins: "Poppins", sans-serif;

  --animate-slideUp: slideUp .25s ease;

  @keyframes slideUp {
    from { transform: translateY(100%); }
    to   { transform: translateY(0); }
  }
}